<ion-header>
    <ion-toolbar>
        <ion-title>
            Registro
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Palavra aprendida</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Tradução</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <div class="welcome" text-center padding-top="5%">
        <ion-button text-align=center>
            <ion-icon name="folder-open"></ion-icon>
            Registrar
        </ion-button>
    </div>
    <div class="list">
        <ion-list>
            <ion-item>
                <ion-label>Pokémon Yellow
                </ion-label>
                <ion-button color="warning">
                    <ion-icon name="refresh-circle"></ion-icon>
                    Update
                </ion-button>
                <ion-button color="danger">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </ion-button>
            </ion-item>
            <ion-item>
                <ion-label>Mega Man X
                </ion-label>
                <ion-button color="warning">
                    <ion-icon name="refresh-circle"></ion-icon>
                    Update
                </ion-button>
                <ion-button color="danger">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </ion-button>
            </ion-item>
            <ion-item>
                <ion-label>The Legend of Zelda
                </ion-label>
                <ion-button color="warning">
                    <ion-icon name="refresh-circle"></ion-icon>
                    Update
                </ion-button>
                <ion-button color="danger">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </ion-button>
            </ion-item>
            <ion-item>
                <ion-label>Pac-Man
                </ion-label>
                <ion-button color="warning">
                    <ion-icon name="refresh-circle"></ion-icon>
                    Update
                </ion-button>
                <ion-button color="danger">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </ion-button>
            </ion-item>
            <ion-item>
                <ion-label>Super Mario World
                </ion-label>
                <ion-button color="warning">
                    <ion-icon name="refresh-circle"></ion-icon>
                    Update
                </ion-button>
                <ion-button color="danger">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </ion-button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>