<ion-header>
    <ion-toolbar>
        <ion-title>
            Registro
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Palavra aprendida</ion-label>
        <ion-input name="word" [(ngModel)]="word"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Tradução</ion-label>
        <ion-input name="meaning" [(ngModel)]="meaning"></ion-input>
    </ion-item>
    <div class="welcome" text-center padding-top="5%">
        <ion-button text-align=center (click)=sendForRegisterWord()>
            <ion-icon name="folder-open"></ion-icon>
            Registrar
        </ion-button>
        <ion-button text-align=center (click)=sendForDeleteWord()>
            <ion-icon name="folder-open"></ion-icon>
            Delete
        </ion-button>
    </div>
    <div class="list">
        <ion-list *ngFor="let item of resultados">
            <ion-item>
                <ion-label>{{ item }}
                </ion-label>
                <ion-button color="warning">
                    <ion-icon name="refresh-circle"></ion-icon>
                    Update
                </ion-button>
                <ion-button color="danger">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </ion-button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>